body {
    background-color: #010001;  
    color: #f8e208;     
    font-family: "Times New Roman", serif; 
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 50px 0;
}

h1 {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-style: italic;     
}

p {
    margin: 10px 0;
    color: #f8e208
}

input::placeholder {
    color: #f8e208;    
    font-family: "Courier New", monospace; 
    font-size: 16px; 
    opacity: 1;      
}

input[type="text"] {
    background-color: #010001;
    color: #f8e208;
    border: 1px solid #f8e208;
    font-family: "Courier New", monospace; /* pixelated terminal input font */
    font-size: 16px;
    padding: 5px;
    width: 220px;
    text-align: center;
    outline: none;          
    border-radius: 0; 
}

button {
    background-color: #188d45;
    color: 	#f8e208;
    border: 1px solid #f8e208;
    font-family: "Courier New", monospace;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #de1c42;
    color: #f8e208;
    border: 1px solid #f8e208;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
}

.container {
    width: 320px;                     /* primitive fixed-width layout */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f8e208;        /* gold border for old-school box */
}
